{%- extends 'classic/base.html.j2' -%}

{%- block header -%}

<!DOCTYPE html>
<html>

<head>

{%- block html_head -%}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set nb_title = nb.metadata.get('title', '') or resources['metadata']['name'] %}
<title>{{nb_title}}</title>
{%- endblock html_head -%}

{% block notebook_css %}
<link href="css/notebook.css" rel="stylesheet">
<link href="/prod/KaTeX/katex.min.css" rel="stylesheet">
{% endblock notebook_css %}

</head>

{%- endblock header -%}

{% block body_header %}

<body>

<div id="container">

{% endblock body_header %}

{% block body_footer %}

</div>

<script src="/prod/KaTeX/katex.min.js"></script>
<script src="/prod/KaTeX/contrib/auto-render.min.js"></script>

<script type="text/javascript">

// katex config
let delim = [
    {left: "$$", right: "$$", display: true},
    {left: "$", right: "$", display: false},
];

// get container
let container = document.getElementById('container');

// render math
renderMathInElement(container, {
    'delimiters': delim,
});

</script>

</body>

{% endblock body_footer %}

{% block footer %}

{{ super() }}

</html>

{% endblock footer %}
